body {
    font-family: Ubuntu;
    font-size: 32px;
    text-align: center;
}

a {
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: monospace;
}